<div class="container">
  <p class="text-center">¡Agrega el menú del día!</p>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <h4>DESAYUNO</h4>
          <app-desayuno></app-desayuno>
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <h4>ALMUERZO Y CENA</h4>
          <app-comida></app-comida>
        </div>
      </div>
    </div>
  </div>
</div>
