<div class="container">
  <p class="format">"Orden del Cliente"</p>
  <div class="row">
    <div class="col-md-6 text-center">
      <button type="submit" class="btn btn-warning px-3" (click)="desayuno()">
        <i class="fa fa-coffee" aria-hidden="true"></i> DESAYUNO</button>
    </div>

    <div class="col-md-6 text-center">
      <button type="submit" class="btn btn-warning px-3" (click)="comida()">
        <i class="fa fa-cutlery" aria-hidden="true"></i> COMIDA / CENA</button>
    </div>

  </div>
  <hr class="hr-red mb-3 mt-4 ancho">

  <div class="row">
    <div class="col-md-6 text-center ">
      <div class="card mt-4">
        <div class="card-body">
          <button type="button" class="btn btn-elegant" *ngFor="let menu of menuListDesayuno">
            <div class="titleCard">
              <p>{{menu.desayuno}}</p>
            </div>
            <div class="precioCard">
              <p> $ {{menu.precio}}.00</p>
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
          <button type="button" class="btn btn-elegant" *ngFor="let menu of menuListComida">
            <div class="titleCard">
              <p>{{menu.desayuno}}</p>
            </div>
            <div class="precioCard">
              <p> $ {{menu.precio}}.00</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
